@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #1B161C;
    --marromclaro: #9F6C54;
    --cinza-claro: #bebebe;
    --cinza-escuro: #646464;
    --btn-marrom: #9F6C54;
    --btn-marrom-hover: #865742;
}

body {
    background-color: var(--background) !important;
    font: bold 1rem 'Montserrat', sans-serif !important;
    color: #fff !important;
}

header {
    display: flex;
    height: 15vh;
    width: 100%;
    border-bottom: 3px solid var(--marromclaro);
    align-items: center;
    justify-content: center;
   /*  padding: 1rem; */
}

header img {
    height: 100%;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98.2vw;
    height: 100vh;
    padding: 50px;
}
section:nth-child(1) {
    display: flex;
    align-content: center;
    width: 50%;
    max-width: 1200px;
    min-width: 400px;
    height: 100%;
    flex-direction: column;
    gap: .5rem;
}
.alert {
    display: flex;
    align-items: center;
    align-content: center;
    gap: .5rem;
    font-weight: normal;
    animation: fadein 5s ease forwards !important;
    & i {
        font-size: 2.5em;
    }
    
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    50%,
    75% {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 50%;
}
input, select, textarea {
    height: 6vh;
    min-height: 40px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    font: 600 1rem 'Montserrat', sans-serif;
    background-color: #FFF;
}
textarea {
    padding: 5px;
    height: 20vh;
}
.back-button {
    font-size: 2em;
    color: #9F6C54;
    text-decoration: none;
    background-color: #9f6c544a;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 12px;
    display: block;
    transition: .5s ease;
}

.back-button:hover {
    background-color: #9F6C54;
    color: #860a0a;
    transform: scale(1.05);
}
section:nth-child(2) {
    width: 55%;
    max-width: 1500px;
    min-width: 400px;
}
.table-container {
    overflow-x: auto;
    min-width: 400px;
    max-width: 1500px;
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #000;
}

thead {
    background-color: #9F6C54;
    border-bottom: 5px solid var(--background);
}
table img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
th,
td {
    padding: 15px 12px;
    border: 2px solid var(--background);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    width: 40%;
    height: 20%;
    border-radius: 5px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    color: var(--background);
}
.container label {
    cursor: pointer;
}
button {
    width: 50%;
    padding: 15px 12px;
    background: var(--btn-marrom);
    border: none;
    border-radius: 5px;
    font: bold 1rem 'Montserrat', sans-serif;
    color: #fff;
    transition: .5s ease;
    cursor: pointer;
}
button:hover {
    scale: 1.05;
    background: var(--btn-marrom-hover);
}
.actions a:nth-child(1) {
    color: #9f6c54;
}
.actions a:nth-child(2) {
    color: #900909;
}
@media (max-width: 450px) {
    main {
        flex-direction: column;
        justify-content: space-around;
        gap: 5rem;
        text-align: center;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    form {
        align-items: center;
        width: 97vw;
        gap: 1rem;
    }
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 15rem;
        text-align: center;
        padding: 10px;
        width: 100%;
        height: 100%;
    }
    section:nth-child(1) {
        align-items: center;
        width: 60vw;
        gap: 1rem;
    }
    form {
        width: 100%;
    }
}



