@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: normal 16px 'Montserrat' !important;
}

:root {
    --borda: #a96f4c;
    --background: #1B161C;
    --tabela: #9F6C54;
}

body {
    background: 
    linear-gradient(to top, #1B161C, #1b161c37),
    url(../assets/backgroundlistagem.png) center center / cover;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 1000;
    background-color: #1b161c7d;
    backdrop-filter: blur(15px);
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--borda);

    & img {
        height: 9vh;
    }

}

header div {
    width: 33%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    gap: 3rem;
}

#sec1 {
    height: auto;
    border: 2px solid var(--borda);
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
}



form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 450px;
    max-width: 1200px;
    width: 50vw;
    height: 100%;
    gap: 1rem;
    padding: 2rem 2rem 5rem;
    text-align: center;
    color: #fff !important;
}
.alert {
    animation: fadein 5s ease forwards !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    50%,
    75% {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}
form div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
form div svg{
    background-color: #9f6c544a;
    padding: 8px;
    border-radius: 50%;
    transition: .8s ease;
    box-shadow: 0px 0px 5px #000;
}
form div svg:hover path {
    transition: .5s ease;
}
form div svg:hover path{
    fill: #860a0a;  
}
form div svg:hover {
    background-color: #9F6C54;
    scale: 1.20;
}
form div svg {
    scale: 1.10;
}
#sec1 a {
    height: 50px;
    width: 50px;
}
form h2 {
    font-weight: 700 !important;
    color: #fff;
    font-size: 25px !important;
    width: 75%;
}
form input, form textarea, form select {
    flex: 1 .1 8vh;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

form textarea {
    flex: 1 .1 10vh;
}

form button {
    width: 300px;
    align-self: center;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    background: var(--tabela);
    color: #fff;
    font-weight: bold !important;
    transition: .5s ease;
    cursor: pointer;
}
form button:hover {
    background-color: var(--borda);
    scale: 1.1;
}

#sec2 {
    height: 40vh;
    padding: 15px;
    width: 80vw;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    & h2 {
        text-align: center;
        color: #fff;
        font-weight: 700 !important;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

thead {
    background-color: #9F6C54;
    border-bottom: 5px solid var(--background) !important;
}

th,
td {
    padding: 15px 12px;
    border: 2px solid var(--background) !important;
}
th {
    font-weight: bold !important;
}
.table-container {
    overflow-x: auto;
    min-width: 400px;
    max-width: 1200px;
    width: 100%;
}
.actions {
    word-spacing: .5ch;
}
.actions svg {
    height: 20px;
}